body{
  background-color: rgb(247, 208, 226);
}

#corazon{
  width: 60%;
  margin-top: 11%;
  margin-left: 19%;
  cursor: pointer;
}

#corazon:hover{
  transform: scale(105%);
  transition: 1s;
 }